@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

hr {
    border-style: dotted;
    border-top: 0;
    border-width: thick;
    color: #456268;
    width: 3%;
}

/* Welcome banner */
.preloading-banner-wrapper {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --antd-wave-shadow-color: #1890ff;
    color: #456268;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: "tnum", "tnum";
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: block;
    background: #fcf8ec;
    position: relative;
    min-height: 500px;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
}

.banner-title-wrapper {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --antd-wave-shadow-color: #1890ff;
    color: #456268;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: "tnum", "tnum";
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    top: 30vh;
    text-align: center;
}

.welcome-title {
    color: #456268;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: "tnum", "tnum";
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 5em;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.section-title {
    color: #456268;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: "tnum", "tnum";
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 3em;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.section-body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --antd-wave-shadow-color: #1890ff;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: "tnum", "tnum";
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 1.25em;
    color: #4a4a4a;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

/* flowers */
.preloading-banner-wrapper {
    position: relative;
    overflow: hidden;
}

.flower-overlay {
    position: absolute;
    z-index: 10;
}

.flower-overlay img {
    width: 100px;
    height: auto;
}

.flower-overlay.top-right {
    top: 10px;
    right: 10px;
}

.flower-overlay.bottom-left {
    bottom: 10px;
    left: 10px;
    transform: rotate(180deg);
}
